@model AgenciaExplorer.Models.CadastrarCidade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CadastrarCidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moeda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moeda)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Cidade">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
